
.schematic{
    display: flex;
    flex-direction: column;
 justify-content: center;
    align-items: center;
    gap: 10px;
    margin:20px;

}


.image-size{
width: 850px;
height: 400px;

}
.image-size1{
    width: 850px;
    height: 500px;
    
 
}
.image-size11{
width: 850px;
height: 600px;

}
.image-size2{
    width: 850px;
    height: 550px;
    
 
}


.image-size3{
      width: 850px;
 height: 500px;
}
.image-size111{
width: 850px;
height: 550px;

}





.image-size, .image-size1, .image-size2, .image-size11{
    border: 5px solid #223667;
 border-radius: 3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-size:hover, .image-size1:hover, .image-size2:hover, .image-size11:hover {
    transform: scale(1.05);
    
    cursor: pointer;
  }
  .schematic h2, .schematic p {
    color:white;

  }
  .schematic h2{
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .schematic p{
padding: 20px;
background-color: #223667;
max-width: 800px;
text-align: justify;
border-radius: 10px;
font-size: 1.2rem;
  }
  .schematic p:hover{
    transform:scale(1.1);
    transition: transform 0.4s ease;
    cursor: pointer;
  }

  .photo-description{
    color: white;
font-size: 1.3rem;
font-weight: 400;
  }

  table.bom-table {
width: 850px;
      border-collapse: collapse;
      background-color: #fff;
    }
    .bom-table th, .bom-table td {
      border: 1px solid #ccc;
      padding: 8px 12px;
      text-align: center;
    }
    .bom-table th {
      background-color: #e0e0e0;
    }
    .bom-table tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    
    table.bom-table:hover {
      transform:scale(1.1);
      transition: transform 0.4s ease;
      cursor: pointer;
      }


      @media (max-width: 600px) {
        main{
            padding: 0;
        }
        .image-size,
        .image-size1
{
          width: 100%;
          height: auto;
        }
      
        .schematic p {
          padding: 15px;
          font-size: 1rem;
          width: 100%;
          margin-bottom: 20px;
        }
      
        .photo-description {
          font-size: 1rem;
          text-align: center;
        }
      
        .schematic h2 {
          font-size: 1.8rem;
          text-align: center;
        }
      
        .bom-table th, .bom-table td {
          padding: 6px 8px;
          font-size: 0.9rem;
        }
        .schematic{
            margin: 5px;
        }
        .tech-button{
            transform: scale(0.7);
        }
body{
    line-height: 1;
}








        
        
        @media screen and (max-width: 768px) {
            .bom-table,
            .bom-table thead,
            .bom-table tbody,
            .bom-table tr,
            .bom-table td,
            .bom-table th {
              display: block;
              width: 100%;
            }
          
            .bom-table thead {
              display: none;
            }
          
           
            /* Hide all cells except the 3rd one (Package column) */
            .bom-table td:not(:nth-child(3)) {
              display: none;
            }
          
            .bom-table {
                margin: 0 20px 20px 20px;
                width: auto;
                max-width: calc(100% - 10px); /* to prevent overflow */
              }
              
            

    .image-size, .image-size1,.image-size11,.image-size111, .image-size2, .image-size3  {
        width: 380px;
        height: 250px;

    }



    .schematic p {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                line-height: 1.1;
                font-size: 1.1rem;
      
      }

    .schematic h2

 {
margin-top: 20px;
    }

.bom-table th {
            display:none;
         
        }



}
        .schematic p {
           margin: 20px;
            font-size: 1.2rem;
        }



}







   